*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(../graphics/pringles.jpg);
    background-position: center;
background-size: cover;
color: white;
text-shadow: 6px 4px 4px black;
font-family: sans-serif;
background-repeat: no-repeat;
}


.contenthead{

    text-align: center;
    
}
div .name{
    font-size: 140px;
    line-height: 100px;
    margin-top: 80px;
    float: left;
    margin-left: 150px;
}

.contenthead ul{
    display: inline-flex;
   list-style: none;
    font-size: 15px;
    background-color: rgb(41, 192, 238);
position: relative;
}

.contenthead ul li{
    width: 120px;
    margin: 10px;
text-transform: unset;

padding: 30px;
}

.contenthead ul li a{
text-decoration: none;
color: white;
}

.home, .contenthead ul li:hover {
    background-color: rgb(10, 144, 189);
    border-radius: 10px;
    width: auto;
   
}


.drpdown{
    display: none;
    
}

/* .drpdown ul{
    text-decoration: none;
    list-style: none;
    display: block;
} */
/* 
.drpdown ul li{

    display: inline-block;
} */

.contenthead ul li:hover .drpdown{
background-color: cyan;
color: white;
display: inline-block;
position: absolute;
margin-top: 15px;
margin-right: -15px;
border-radius: 5px;
line-height: 2px;

}

.contenthead ul li:hover .drpdown ul{
    display: block;
}

.contenthead ul li:hover .drpdown ul li{

    font-size: 15px;
    padding: 15px;
    border-bottom: 1px double black;
}



